@model BlogPostViewModel
@{
    ViewData["Title"] = "Gerenciamento de Posts";
}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Blog" asp-action="Index">Início</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Blog" asp-action="List">Lista de Posts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Posts</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            @if (Model?.Id == null || Model?.Id == Guid.Empty)
            {
                <h1>Cadastro</h1>
            }
            else
            {
                <h1>Edição</h1>
            }

            @if (TempData["msg"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["msg"]
                </div>
            }

            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var error in TempData["error"] as IEnumerable<string>)
                    {
                        <p>@error</p>
                    }
                </div>
            }

            @using (Html.BeginForm("SavePost", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    @Html.LabelFor(p => p.Title)
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-heading"></i></span>
                            @Html.TextBoxFor(p => p.Title, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.ShortDescription)
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-highlighter"></i></span>
                            @Html.TextBoxFor(p => p.ShortDescription, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.Content)
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
                            @Html.TextAreaFor(p => p.Content, new { @class = "form-control", rows = "10" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar Post" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

