@model Blog.FK.Web.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-5">

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {

            <h1 class="h3 mb-3 font-weight-normal">Seja bem vindo ao Blog FK! Informe seus dados para gerenciar posts <i class="fa fa-smile-beam"></i></h1>
            @if (@TempData["msg"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["msg"]
                </div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var error in TempData["error"] as IEnumerable<string>)
                    {
                        <p>@error</p>
                    }
                </div>
            }
            <label for="inputEmail" class="sr-only">E-mail</label>
            <div class="input-group mb-0">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Informe seu e-mail" })
                </div>
            </div>
            <label for="inputPassword" class="sr-only">Senha</label>
            <div class="input-group mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Informe sua senha" })
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        }
    </div>
    <div class="col-4"></div>
</div>

