<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Blog para fins de estudo, assim como esse projeto." />
    <title>@ViewData["Title"] - Blog FK</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="manifest" href="~/manifest.json" />
</head>
<body>
    <main role="main">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Blog FK</a>
                    @if (@User.Identity.Name != null)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Index"><i class="fa fa-home"></i> Início<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-file-alt"></i> Posts</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-user">
                                    <a class="dropdown-item" asp-area="" asp-controller="Blog" asp-action="Create">Criar</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Blog" asp-action="List">Consultar</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-edit"></i> Usuários</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-user">
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Create">Criar</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="List">Consultar</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline mt-2 mt-md-0" asp-controller="Account" asp-action="Logout">
                            <span class="mr-sm-2 text-white"><i class="fa fa-user"></i> @User.Identity.Name </span>
                            <button class="btn btn-danger my-2 my-sm-0" type="submit" title="Login"><i class="fa fa-sign-out-alt"></i></button>
                        </form>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Index"><i class="fa fa-home"></i> Início<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Create"><i class="fa fa-user-cog"></i> Área Administrativa<span class="sr-only">(current)</span>  </a>
                            </li>
                        </ul>
                        <form class="form-inline mt-2 mt-md-0" asp-controller="Account" asp-action="Login" method="get">
                            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-sign-in-alt"></i></button>
                        </form>
                    }
                </div>
            </div>
        </nav>
        <div class="row mt-5">
            <div class="col-12">
                <div id="home-title">
                </div>
            </div>
        </div>
        <div class="modal" id="install-blog-fk" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Adicione o Blog FK na sua home!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Para isto, basta <a href="javascript:;" onclick="pageEvents.tryAddHomeScreen();" class="btn-link no-style">clicar aqui</a>!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="notification-subscribe-section" style="display:none; padding: 5px; text-align:center;">
            <button class="btn-link no-style" onclick="pageEvents.requestPushPermission();">Clique aqui</button> para receber notificações quando novos artigos forem publicados
        </div>
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Blog FK
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/lib/es6-promise/es6-promise.js"></script>
    <script src="~/lib/fetch/fetch.js"></script>
    <script src="~/lib/systemjs/system.js"></script>
    <script src="~/lib/localforage/localforage.min.js"></script>
    <script src="~/lib/localforage/localforage-getitems.js"></script>
    <script src="~/lib/localforage/localforage-setitems.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
